/* Adding the CSS file */ 


body {
  background: #91A4C4;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

svg polygon {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: 5s diamond infinite forwards;
  transform-origin: 50% 50%;
}

@keyframes diamond {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(720deg);
  }
}
