/* Adding the CSS file */

body {
  background: #0D4656;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

svg path {
  fill: #6FC5D9;
}

svg line {
  stroke: #6FC5D9;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: 300ms move-lines infinite backwards;
}

@keyframes move-lines {
  from {
    stroke-dashoffset: -30;
  }
  to {
    stroke-dashoffset: 30;
  }
}

